<html>
<body>
{#Enter name:#}
{#<form action="/validation" method="get">#}
{#    <input type="text" name="name">#}
{#    <input type="submit" name="">#}
{#</form>#}
{% if name is defined and name is not empty %}
    Name is :
    {{ name }}
{% endif %}
{{ form(form) }}
</body>
</html>