<div style="background: url({{ absolute_url(asset('public/img/fill.png')) }}) repeat;">
    <br>123
    <br>
    <br>123
    <br>
    <br>123
    <br>
    <br>123
    <img src="{{ absolute_url(asset('public/img/test.png')) }}" style="+div {display: none}">
    <br>
    <br>123
    <br>
    <br>123
    <br>
</div>