<div style="background: url({{ absolute_url(asset('public/img/fill.png')) }}) repeat;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>